<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <!-- ===== SOBRIETY START DATE/TIME ===== -->
    <setting propertyKey="@Properties.SobrietyYear" title="▶ Sobriety Start Year">
        <settingConfig type="numeric" min="2020" max="2030" />
    </setting>

    <setting propertyKey="@Properties.SobrietyMonth" title="▶ Sobriety Start Month">
        <settingConfig type="numeric" min="1" max="12" />
    </setting>

    <setting propertyKey="@Properties.SobrietyDay" title="▶ Sobriety Start Day">
        <settingConfig type="numeric" min="1" max="31" />
    </setting>

    <setting propertyKey="@Properties.SobrietyHour" title="▶ Sobriety Start Hour (0-23)">
        <settingConfig type="numeric" min="0" max="23" />
    </setting>

    <!-- ===== RIGHT FIELD CONFIGURATION ===== -->
    <setting propertyKey="@Properties.RightFieldData" title="▶ Right Field Display">
        <settingConfig type="list">
            <listEntry value="4">Temperature</listEntry>
            <listEntry value="10">Notifications</listEntry>
        </settingConfig>
    </setting>

    <!-- ===== MILESTONE THEMES ===== -->
    <setting propertyKey="@Properties.Milestone1Theme" title="▶ Milestone 1 Theme (1-6 days)">
        <settingConfig type="list">
            <listEntry value="1">Black Sabbath</listEntry>
            <listEntry value="2">Black Blue Jeans</listEntry>
            <listEntry value="3">Silver Darkness</listEntry>
            <listEntry value="4">Pink Sunset</listEntry>
            <listEntry value="5">Clean Black</listEntry>
            <listEntry value="6">Easy Yellow</listEntry>
            <listEntry value="7">Green Jungle</listEntry>
            <listEntry value="8">Rose Blackberry</listEntry>
            <listEntry value="9">Green Day</listEntry>
            <listEntry value="10">White Blue Jeans</listEntry>
            <listEntry value="11">Silver White</listEntry>
            <listEntry value="12">Pink gold </listEntry>
            <listEntry value="13">Clean Turquoise</listEntry>
            <listEntry value="14">Banana Yellow</listEntry>
            <listEntry value="15">Green Turquoise</listEntry>
            <listEntry value="16">Rose Blueberry</listEntry>
            <listEntry value="17">Black Pink</listEntry>
            <listEntry value="18">Blue Blue Jeans </listEntry>
            <listEntry value="19">Clean Olive </listEntry>
            <listEntry value="20">Rose Grape</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Milestone2Theme" title="▶ Milestone 2 Theme (7-29 days)">
        <settingConfig type="list">
            <listEntry value="1">Black Sabbath</listEntry>
            <listEntry value="2">Black Blue Jeans</listEntry>
            <listEntry value="3">Silver Darkness</listEntry>
            <listEntry value="4">Pink Sunset</listEntry>
            <listEntry value="5">Clean Black</listEntry>
            <listEntry value="6">Easy Yellow</listEntry>
            <listEntry value="7">Green Jungle</listEntry>
            <listEntry value="8">Rose Blackberry</listEntry>
            <listEntry value="9">Green Day</listEntry>
            <listEntry value="10">White Blue Jeans</listEntry>
            <listEntry value="11">Silver White</listEntry>
            <listEntry value="12">Pink gold </listEntry>
            <listEntry value="13">Clean Turquoise</listEntry>
            <listEntry value="14">Banana Yellow</listEntry>
            <listEntry value="15">Green Turquoise</listEntry>
            <listEntry value="16">Rose Blueberry</listEntry>
            <listEntry value="17">Black Pink</listEntry>
            <listEntry value="18">Blue Blue Jeans </listEntry>
            <listEntry value="19">Clean Olive </listEntry>
            <listEntry value="20">Rose Grape</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Milestone3Theme" title="▶ Milestone 3 Theme (30-89 days)">
        <settingConfig type="list">
            <listEntry value="1">Black Sabbath</listEntry>
            <listEntry value="2">Black Blue Jeans</listEntry>
            <listEntry value="3">Silver Darkness</listEntry>
            <listEntry value="4">Pink Sunset</listEntry>
            <listEntry value="5">Clean Black</listEntry>
            <listEntry value="6">Easy Yellow</listEntry>
            <listEntry value="7">Green Jungle</listEntry>
            <listEntry value="8">Rose Blackberry</listEntry>
            <listEntry value="9">Green Day</listEntry>
            <listEntry value="10">White Blue Jeans</listEntry>
            <listEntry value="11">Silver White</listEntry>
            <listEntry value="12">Pink gold </listEntry>
            <listEntry value="13">Clean Turquoise</listEntry>
            <listEntry value="14">Banana Yellow</listEntry>
            <listEntry value="15">Green Turquoise</listEntry>
            <listEntry value="16">Rose Blueberry</listEntry>
            <listEntry value="17">Black Pink</listEntry>
            <listEntry value="18">Blue Blue Jeans </listEntry>
            <listEntry value="19">Clean Olive </listEntry>
            <listEntry value="20">Rose Grape</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Milestone4Theme" title="▶ Milestone 4 Theme (90-179 days)">
        <settingConfig type="list">
            <listEntry value="1">Black Sabbath</listEntry>
            <listEntry value="2">Black Blue Jeans</listEntry>
            <listEntry value="3">Silver Darkness</listEntry>
            <listEntry value="4">Pink Sunset</listEntry>
            <listEntry value="5">Clean Black</listEntry>
            <listEntry value="6">Easy Yellow</listEntry>
            <listEntry value="7">Green Jungle</listEntry>
            <listEntry value="8">Rose Blackberry</listEntry>
            <listEntry value="9">Green Day</listEntry>
            <listEntry value="10">White Blue Jeans</listEntry>
            <listEntry value="11">Silver White</listEntry>
            <listEntry value="12">Pink gold </listEntry>
            <listEntry value="13">Clean Turquoise</listEntry>
            <listEntry value="14">Banana Yellow</listEntry>
            <listEntry value="15">Green Turquoise</listEntry>
            <listEntry value="16">Rose Blueberry</listEntry>
            <listEntry value="17">Black Pink</listEntry>
            <listEntry value="18">Blue Blue Jeans </listEntry>
            <listEntry value="19">Clean Olive </listEntry>
            <listEntry value="20">Rose Grape</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Milestone5Theme" title="▶ Milestone 5 Theme (180-364 days)">
        <settingConfig type="list">
            <listEntry value="1">Black Sabbath</listEntry>
            <listEntry value="2">Black Blue Jeans</listEntry>
            <listEntry value="3">Silver Darkness</listEntry>
            <listEntry value="4">Pink Sunset</listEntry>
            <listEntry value="5">Clean Black</listEntry>
            <listEntry value="6">Easy Yellow</listEntry>
            <listEntry value="7">Green Jungle</listEntry>
            <listEntry value="8">Rose Blackberry</listEntry>
            <listEntry value="9">Green Day</listEntry>
            <listEntry value="10">White Blue Jeans</listEntry>
            <listEntry value="11">Silver White</listEntry>
            <listEntry value="12">Pink gold </listEntry>
            <listEntry value="13">Clean Turquoise</listEntry>
            <listEntry value="14">Banana Yellow</listEntry>
            <listEntry value="15">Green Turquoise</listEntry>
            <listEntry value="16">Rose Blueberry</listEntry>
            <listEntry value="17">Black Pink</listEntry>
            <listEntry value="18">Blue Blue Jeans </listEntry>
            <listEntry value="19">Clean Olive </listEntry>
            <listEntry value="20">Rose Grape</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Milestone6Theme" title="▶ Milestone 6 Theme (365+ days)">
        <settingConfig type="list">
            <listEntry value="1">Black Sabbath</listEntry>
            <listEntry value="2">Black Blue Jeans</listEntry>
            <listEntry value="3">Silver Darkness</listEntry>
            <listEntry value="4">Pink Sunset</listEntry>
            <listEntry value="5">Clean Black</listEntry>
            <listEntry value="6">Easy Yellow</listEntry>
            <listEntry value="7">Green Jungle</listEntry>
            <listEntry value="8">Rose Blackberry</listEntry>
            <listEntry value="9">Green Day</listEntry>
            <listEntry value="10">White Blue Jeans</listEntry>
            <listEntry value="11">Silver White</listEntry>
            <listEntry value="12">Pink gold </listEntry>
            <listEntry value="13">Clean Turquoise</listEntry>
            <listEntry value="14">Banana Yellow</listEntry>
            <listEntry value="15">Green Turquoise</listEntry>
            <listEntry value="16">Rose Blueberry</listEntry>
            <listEntry value="17">Black Pink</listEntry>
            <listEntry value="18">Blue Blue Jeans </listEntry>
            <listEntry value="19">Clean Olive </listEntry>
            <listEntry value="20">Rose Grape</listEntry>
        </settingConfig>
    </setting>

    <!-- ===== EXISTING SETTINGS ===== -->
    <setting propertyKey="@Properties.UseMilitaryFormat" title="Military Format for 24 Hour Time">
        <settingConfig type="boolean" />
    </setting>

</settings>